body{
    text-align: center;
    background: linear-gradient(#0033ff 0%,#ff2200 100%);
}
img{
    border-radius: 0%;
    border-color: black;
    width: 280px;
    border-radius: 50%;
}
h1{
    font-size: 40px;
    color: yellow;
    background-color: black;
    font-family: sans-serif;
    text-decoration-line: underline
}
h2{
    font-size: 30px;
    color: yellow;
    background-color: black;
    font-family: sans-serif;
    text-decoration-line: underline;
}
p{
    color: cyan;
    font-size: 20px;
    font-family: cursive;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}